.dream-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: black;
}

.dream-list-container {
    padding: 1rem 2rem;
}

.journal-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fs {
    font-size: 1rem;
}

.dream-emote {
    font-size: 1.2rem;
}

.check-input {
    width: 1rem;
}

.signup-or-login-msg1 {
    color: white;
    width: 100%;
    padding-top: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.signup-or-login-msg1 a {
    color: white;
    text-decoration: underline;
}

#span-journal {
    width: .7rem;
}

.signup-or-login-msg2 {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald';
}

#desc {
    width: 20rem;
    height: 150px;
    padding: 5px 5px;
    margin-top: 1rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: 'Oswald';
    font-weight: 800;
    letter-spacing: .08rem;
  }

  input {
    width: 20rem;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-weight: 800;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: 'Oswald';
    letter-spacing: .08rem;
}

.title-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    padding: 0 .5rem;
    margin: 0 0 .7rem 0 !important;
}

.desc-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    padding: 0 .5rem;
    margin: 0 0 .7rem 0 !important;

}

.emote-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    margin: 0 0 .7rem 0 !important;
}

.lucid-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    padding: .5rem 0;
    margin: 0 0 .7rem 0 !important;
    font-size: 1rem;
}

.delete-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    cursor: pointer;
    
}

.delete-button div {
    padding: 0;
    margin: 0;
}

label {
    font-size: 1rem;
    display: flex;
    align-self: start;
    padding-top: 0rem;
    width: 100%;
    justify-content: center;
}

.dream-label {
    display: flex;
    justify-content: flex-start;
}


  