.journal-container {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    width: 100%;
    top: 3rem;
    align-items: center;
}

/* Remove margin from Date Picker */
.css-q2lp9a-MuiInputBase-root-MuiOutlinedInput-root {
    margin: 0 !important;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.1995) 101.85%) !important;

}


.journal-container div {
    font-size: .8rem;
    margin-top: 1rem;
}

.journal-container h3 {
    font-size: .8rem;
    margin-top: 1rem;
}

.dream-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: black;
}

.dream-list-container {
    padding: 1rem 2rem;
}

.journal-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 396px;
}

.journal-headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 396px;
}

.journal-headers h3 {
    margin: 0;
}

.fs {
    font-size: 1rem;
}

.dream-emote {
    font-size: 1.2rem;
}

.check-input {
    width: 1rem;
}

.signup-or-login-msg1 {
    color: white;
    width: 100%;
    padding-top: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.signup-or-login-msg1 a {
    color: white;
    text-decoration: underline;
}

#span-journal {
    width: .7rem;
}

.signup-or-login-msg2 {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald';
}

  .add-dream-input {
    box-sizing: border-box;
    font-family: 'Nunito';

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 396px;
    height: 46px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.1995) 101.85%);
    border-radius: 0px 0px 7px 7px;
    color: white;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.add-dream-text-area {
    box-sizing: border-box;

    /* Auto layout */
    font-family: 'Nunito';
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    color: white;
    width: 396px;
    height: 120px;
    margin-top: 1rem;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.1995) 101.85%);
    border-radius: 0px 0px 7px 7px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.title-label {
    /* Title */
    width: 396px;
    height: 27px;

    /* Nunito/Subheader/Semibold 20 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    /* light grey */
    color: #CFD8EB;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.title-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    padding: 0 .5rem;
    margin: 0 0 1rem 0 !important;
}

.desc-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    padding: 0 .5rem;
    margin: 0 0 .7rem 0 !important;

}

.emote-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    margin: 0 0 .7rem 0 !important;
}

.lucid-con {
    width: 100%;
    background-color: #180D43;
    border-radius: 8px;
    padding: .5rem 0;
    margin: 0 0 .7rem 0 !important;
    font-size: 1rem;
}

.delete-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    cursor: pointer;
    
}

.delete-button div {
    padding: 0;
    margin: 0;
}

label {
    font-size: 1rem;
    display: flex;
    align-self: start;
    padding-top: 0rem;
    width: 100%;
    justify-content: center;
}

.dream-label {
    display: flex;
    justify-content: flex-start;
}

.journal-submit {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    cursor: pointer;
    width: 160px;
    height: 46px;

    /* dark blue */
    background: #3E529D;
    box-shadow: 0px 62px 254px rgba(185, 196, 240, 0.1), 0px 28.6645px 116.056px rgba(185, 196, 240, 0.0741675), 0px 16.4012px 67.6531px rgba(185, 196, 240, 0.0626781), 0px 9.95539px 42.5223px rgba(185, 196, 240, 0.0539948), 0px 5.99856px 26.7409px rgba(185, 196, 240, 0.0460052), 0px 3.34039px 15.6025px rgba(185, 196, 240, 0.0373219), 0px 1.43668px 7.04102px rgba(185, 196, 240, 0.0258325);
    border-radius: 7px;
    color: white;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


  