.dream-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 8px;
    background-color: rgb(42, 39, 39);
}

.dream-list-container {
    padding: 2rem 2rem;
}

.journal-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dream-desc {
    font-size: 1.2rem;
}

.check-input {
    width: 1rem;
}

.signup-or-login-msg1 {
    color: white;
    width: 100%;
    padding-top: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.signup-or-login-msg1 a {
    color: white;
    text-decoration: underline;
}

#span-journal {
    width: .7rem;
}

.signup-or-login-msg2 {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald';
}

#desc {
    width: 20rem;
    height: 150px;
    padding: 5px 5px;
    margin-top: 1rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: 'Oswald';
    font-weight: 800;
    letter-spacing: .08rem;
  }

  input {
    width: 20rem;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-weight: 800;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: 'Oswald';
    letter-spacing: .08rem;
  }

  