.form-container {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    width: 100%;
    top: 10rem;
    align-items: center;
}

.form-container div {
    font-size: .8rem;
    margin-top: 1rem;
}

.form-container a {
    color: white;
    text-decoration: underline;
}

input {
    margin-top: 1rem;
}

.input-submit {
    width: 7rem;
    cursor: pointer;
}

.error-message p {
    color: red;
}

.success-message {
    color: green;
}