.header-container {
    display: flex;
    width: 100%;
    height: 5rem;
    z-index: 10;
    background-image: url('/public//background.png');
    background-attachment: fixed;
    background-position: center;
    position: fixed;
}

.left-side {
    display: flex;
    flex-basis: 40%;
    align-items: center;
    padding-left: 1rem;
}

.right-side {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Oswald';
    font-weight: 800;
}

#link {
    cursor: pointer;
    color: white;
    z-index: 100;
    font-size: 1.3rem;
    padding: 0rem
}

#menu {
    cursor: pointer;
    color: white;
    z-index: 100;
    font-size: 1.3rem;
    padding-right: 1rem
}

.menu-dropdown-right {
    width: 20%;
    height: 200vw;
    display: block;
    position: absolute;
    z-index: 99;
    background-color: rgba(24, 9, 100, 1);
    right: 0;
    animation: fadeIn 1s;
}

.menu-dropdown-left {
    width: 80%;
    height: 210vw;
    display: block;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);;
    left: 0;
    animation: fadeIn 1s;
}

.menu-dropdown-hide {
    animation: fadeOut 1s;
    display: none;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

@media only screen and (max-width: 600px) {
    .menu-dropdown-right {
        width: 50%;
    }

    .menu-dropdown-left {
        width: 50%;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}