.footer {
    height: 5rem;
    width: 100%;
    display: flex;
    background-color: #110931;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    font-size: .8rem;
    margin-top: 1rem;
    bottom: 0;
    left: 0;
}

.footer-container {
    padding: 0 1rem;
}
