.footer {
    padding: 2rem 0;
    width: 100%;
    display: block;
    background-color: #110931;
    color: white;
    font-size: .8rem;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    bottom: 1;
}

.footer-container {
    padding: 0 1rem;
}
